{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% include('/navbar.html.twig') %}
    <div class="accueil-menu">
        <div class="accueil-img">
            <div class="accueil-container-img">
                <img src="img/medecinLogo.png" alt="Logo de l'accueil affichant un médecin et des médicaments">
            </div>
            <div class="accueil-container-paragraphe-img">
                <p>Gestion des Visiteurs</p>
            </div>
        </div>
        <div class="accueil-choix">
            <div>
                <p class="accueil-title">Nos services</p>
                <hr>
                <p class="accueil-description">Gerer les clients dans les meilleurs conditions possible</p>
            </div>
            <div class="accueil-btn">
                <div class="accueil-liste-ajout">
                    <div class="accueil-liste">
                        <img src="img/loupe.png">
                        <h4>LISTE</h4><br>
                        <p>Lister des visiteurs et régions</p>
                        <p>Modifier des visiteurs et region</p>
                    </div>
                    <div class="accueil-ajout">
                        <img src="img/medicament.png">
                        <h4>AJOUT</h4><br>
                        <p>Ajouter des Visiteurs, Régions, Secteurs</p>
                    </div>
                </div>
                <div class="accueil-statistiques">
                    <img src="img/statistiques.png">
                    <div>
                        <h4>STATISTIQUES</h4><br>
                        <p>Afficher les statistiques</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
