{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% include('/navbar.html.twig') %}
    <div class="accueil-menu">
        <div class="accueil-img"></div>
        <div class="accueil-choix">
            <div>
                <p class="accueil-title">Nos services</p>
                <hr>
                <p class="accueil-description">Gerer les clients dans les meilleurs conditions possible</p>
            </div>
            <div class="accueil-btn">
                <div class="accueil-liste-ajout">
                    <div class="accueil-liste"></div>
                    <div class="accueil-ajout"></div>
                </div>
                <div class="accueil-statistiques"></div>
            </div>

        </div>
    </div>

{% endblock %}
