@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ECF1FA;
    color: black;
    font-family: 'Mulish', sans-serif;
}

header a {
    text-decoration: none;
}

header {
    padding: 0 20px;
    background-color: #5988FF;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

#brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
}

#brand a {
    color: #fefefe;
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul a {
    color: white;
}

ul li {
    padding: 5px;
    margin-left: 10px;
}

ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#login,
#signup {
    border-radius: 5px;
    padding: 5px 8px;
}

#login {
    border: 1px solid #498afb;
}

#signup {
    border: 1px solid #ff3860;
}

#signup a {
    color: #ff3860;
}

#login a {
    color: green;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}

.mobile-menu li {
    margin-bottom: 10px;
}

.accueil-menu{
    display: flex;
    height: 90vh;
    justify-content: space-around;
    padding: 2vh 0;
}

.accueil-choix, .accueil-img{
    display:flex;
    flex-direction: column;
    width: 40vw;
    align-self: center;
    text-align: center;
    justify-content: space-between;
}

.accueil-choix hr{
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    width: 15%;
    margin:10px auto;
}
.accueil-title{
    font-size:3vw;
    font-family: sans-serif;
    color: #363636;
}
.accueil-description{
    font-family: sans-serif;
    font-size:10px;
    color: dimgrey;
    margin-bottom: 10%;
}

.accueil-liste-ajout{
    display:flex;
    justify-content: space-between;
    width:100%;
    height:25vh;
    margin: 20px 0;
}
.accueil-liste,.accueil-ajout{
    width: 45%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    color: #363636;
    padding: 1vh;
    font-size: 15px;
    text-align:left;
    font-family: sans-serif;
    cursor:pointer;
}
.accueil-liste img,.accueil-ajout img,.accueil-statistiques img{
    width:42%;
    height:auto
}
.accueil-statistiques{
    width:100%;
    height:25vh;
    background-color: white;
    border-radius: 15px;
    display:flex;
    color: #363636;
    justify-content: space-around;
    align-items: center;
    cursor:pointer;

}
.accueil-statistiques img{
    width:15%;
}
.accueil-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.accueil-container-img{
    margin-top: 10vh;
    height: 40vh;
}
.accueil-container-img img{
    width: 33vw;
}
.accueil-container-paragraphe-img{
    height:20vh;
    margin-top: 10vh;
}
.accueil-container-paragraphe-img p {
    font-size: 3vw;
    color: #363636;
    font-family: sans-serif;
}

.controllerAjout{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
}
.titleAjout{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}
.bouttonsAjout{
    width: 85vw;
    display:flex;
    justify-content: space-around;

}
.ajout-region,.ajout-secteur,.ajout-visiteur{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 33vh;
    width: 43vw;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    margin: 0 5vw 10vh 5vw;
    cursor:pointer;
}
.titleAjout h1{
    margin-bottom: 1vh;
}
.ajout-region img,.ajout-secteur img,.ajout-visiteur img{
    height:80px;
    width:80px;
}
.ajout-region p,.ajout-secteur p,.ajout-visiteur p{
    margin-bottom: 2vh;
}
@media only screen and (max-height: 760px) {
    .accueil-statistiques,.accueil-ajout,.accueil-liste{
        font-size: 1.5vh;
    }
}
@media only screen and (max-width: 850px) {
    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }
    .mobile-menu{
        background-color: #5988FF;
    }
    .accueil-img{
        display: none;
    }
    .accueil-menu{
        width:100%
    }
    .accueil-choix{
        width:90%;
    }
    .bouttonsAjout{
        flex-direction: column;
        width:50vw;

    }
    .ajout-visiteur,.ajout-secteur,.ajout-region{
        margin: 0 5vw 1vh 5vw;
        height:23vh;
        width: 80vw;
    }
    .ajout-region img, .ajout-secteur img, .ajout-visiteur img{
        height: 50px;
        width: 50px;
    }
    .titleAjout{
        margin-top: 1vh;
    }
    .bouttonsAjout{
        width: 85vw;
    }

}

.modalAjout{
    height:60vh;
    width: 90vh;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    position: relative;
    z-index:2
}



.alignDiv{
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    background-color: #DDE0E2;
    border-radius: 50px;
    border: #DDE0E2;
    height: 20px;
}
.btn{
    color: white;
    display: block;
    margin: 2em auto;
    height: 25px;
    width: 30vh;
    border: none;
    position: relative;
    width: 30vh;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    box-shadow: 0 0 .25em #333;
    cursor: pointer;
    outline: none;
    background-color: #4B6EC5 ;
    border-radius: 10px;
}
.alignDiv img{
    position: relative;
    z-index:1
}