@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h4{
    margin: 5px 0;
}
h1{text-align: center}

body {
    background-color: #ECF1FA;
    color: black;
    font-family: 'Mulish', sans-serif;
}

header a {
    text-decoration: none;
}

header {
    padding: 0 20px;
    /*background-color: #5988FF;
    height: 10vh;*/
    background-color: #324960;
    height: 9vh;
    display: flex;
    justify-content: space-between;
}

#brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
}

#brand a {
    color: #fefefe;
}

nav ul, .mobile-menu ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header a {
    color: white;
}

header ul li {
    padding: 5px;
    margin-left: 10px;
}

header ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#login,
#signup {
    border-radius: 5px;
    padding: 5px 8px;
}

#login {
    border: 1px solid #01a101;
    background-color: green;
}

#signup {
 
    background-color: #882035;
}

#signup a {
    color: white;
}

#login a {
    color: white;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    top:9vh;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}

.mobile-menu li {
    list-style: none;
    margin-bottom: 10px;
}

.accueil-menu{
    display: flex;
    height: 90vh;
    justify-content: space-around;
    padding: 2vh 0;
}

.accueil-choix, .accueil-img{
    display:flex;
    flex-direction: column;
    width: 40vw;
    align-self: center;
    text-align: center;
    justify-content: space-between;
}

.accueil-choix hr{
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    width: 15%;
    margin:10px auto;
}
.accueil-title{
    font-size:3vw;
    font-family: sans-serif;
    color: #363636;
}
.accueil-description{
    font-family: sans-serif;
    font-size:10px;
    color: dimgrey;
    margin-bottom: 10%;
}

.accueil-liste-ajout{
    display:flex;
    justify-content: space-between;
    width:100%;
    height:25vh;
    margin: 20px 0;
}
.accueil-liste,.accueil-ajout{
    width: 45%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    color: #363636;
    padding: 1vh;
    padding-left: 4vh;
    font-size: 15px;
    text-align:left;
    font-family: sans-serif;
    cursor:pointer;
}
.accueil-liste img,.accueil-ajout img,.accueil-statistiques img{
    height:auto;
    width: 60px;
}
.accueil-statistiques{
    width:100%;
    height:25vh;
    background-color: white;
    border-radius: 15px;
    display:flex;
    color: #363636;
    justify-content: space-around;
    align-items: center;
    cursor:pointer;

}
.accueil-statistiques img{
    width:15%;
}
.accueil-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.accueil-container-img{
    margin-top: 10vh;
    height: 40vh;
}
.accueil-container-img img{
    width: 33vw;
}
.accueil-container-paragraphe-img{
    height:20vh;
    margin-top: 10vh;
}
.accueil-container-paragraphe-img p {
    font-size: 3vw;
    color: #363636;
    font-family: sans-serif;
}
.b-gris:hover {
    border: 1px solid #ccd7ff;
}
.controllerAjout{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
}
.titleAjout{
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}
.bouttonsAjout{
    width: 85vw;
    display:flex;
    flex-flow: wrap;
    justify-content: space-around;

}
.ajout-region,.ajout-secteur,.ajout-visiteur{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    width: 200px;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    margin: 20px;
    cursor:pointer;
    min-width: 18vw;
    min-height: 20vh;
}
.titleAjout h1{
    margin-bottom: 1vh;
}
.ajout-region img,.ajout-secteur img,.ajout-visiteur img{
    height:80px;
    width:80px;
}
.ajout-region p,.ajout-secteur p,.ajout-visiteur p{
    margin: 5px;
}

#region{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.select-style{
    background-color: #DDE0E2;
    border-radius: 50px;
    border: #DDE0E2;
    height: 25px;
    margin: 5px;
    width: 35vh;
    padding-left: 13px;
}
.select-date{
    background-color: #DDE0E2;
    border-radius: 50px;
    border: #DDE0E2;
    height: 25px;
    margin: 5px 0;
    width: 11.66vh;
    padding-left: 13px;
}
#travailler{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
}
@media only screen and (max-height: 760px) {
    .accueil-statistiques,.accueil-ajout,.accueil-liste{
        font-size: 1.5vh;
    }
}
@media only screen and (max-width: 850px) {
    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }
    .mobile-menu{
        background-color: #5988FF;
    }
    .accueil-img{
        display: none;
    }
    .accueil-menu{
        width:100%
    }
    .accueil-choix{
        width:90%;
    }
    .bouttonsAjout{
        flex-direction: column;
        width:50vw;

    }
    .ajout-visiteur,.ajout-secteur,.ajout-region{
        margin: 0 5vw 1vh 5vw;
        height:23vh;
        width: 80vw;
    }
    .ajout-region img, .ajout-secteur img, .ajout-visiteur img{
        height: 50px;
        width: 50px;
    }
    .titleAjout{
        margin-top: 25vh;
    }
    .bouttonsAjout{
        width: 85vw;
    }

}

.modalAjout{
    height:600px;
    width: 90vh;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    position: relative;
    z-index:2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.alignDiv{
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    background-color: #DDE0E2;
    border-radius: 50px;
    border: #DDE0E2;
    height: 25px;
    margin: 5px;
    width: 35vh;
    padding-left: 13px;
}
.btn{
    color: white;
    display: block;
    margin: auto;
    height: 25px;
    width: 30vh;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    cursor: pointer;
    outline: none;
    background-color: #4B6EC5 ;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}

.btn-voir-edit{
    color: white;
    display: block;
    height: 25px;
    width: 100px;
    border: none;
    position: relative;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    cursor: pointer;
    outline: none;
    background-color: #4B6EC5 ;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    margin: 10px auto;
}
.btn-voir-edit:hover,.btn:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
.alignDiv img{
    position: relative;
    z-index:1
}

.button-new{
    color: white;
    display: flex;
    margin: 2em auto;
    height: 30px;
    width: 180px;
    border: none;
    position: relative;
    box-shadow: 12px 7px 22px #c0d1f1;
    cursor: pointer;
    outline: none;
    background-color: #4B6EC5;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition-duration: .1s;


}
.button-new:hover{
    transform:scale(1.1);
    border: 1px solid white;
}


h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 19px 60px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    overflow:scroll ;
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background-color: #4B6EC5;

}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}