{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="alignDiv">
        <div class="modalAjout" style="padding-top: 2vh">
            <form action="{{ path('login') }}" method="post">
                <img src="img/login.png" style="width: 40vh">
                <br><br>
                <label for="username">Email :</label>
                <input type="text" name="_username" value="{{ last_username }}"/>
                <br>
                <label for="password">Password :</label>
                <input type="password" name="_password"/>
                <br>
                <button type="submit" class="btn">CONNEXION</button>
                <h4 onclick="location.href='loginRecuperation'">Mot de passe oublié</h4>
            </form>
        </div>
    </div>
{% endblock %}
