{% extends 'base.html.twig' %}

{% block title %}New Visiteur{% endblock %}

{% block body %}
    <div class="alignDiv">
        <div class="modalAjout" style="height:70vh;">
            <h1>Entrer les informations de visiteur</h1><br>
            <div class="alignTag">
                <form name="visiteur2" method="post">
                    <div id="visiteur2">
                        <div><label for="visiteur2_nom" class="required">Nom</label><input type="text"
                                                                                           id="visiteur2_nom"
                                                                                           name="visiteur2[nom]"
                                                                                           required="required"
                                                                                           maxlength="25"/></div>
                        <div><label for="visiteur2_prenom" class="required">Prenom</label><input type="text"
                                                                                                 id="visiteur2_prenom"
                                                                                                 name="visiteur2[prenom]"
                                                                                                 required="required"
                                                                                                 maxlength="50"/></div>
                        <div><label for="visiteur2_adresse" class="required">Adresse</label><input type="text"
                                                                                                   id="visiteur2_adresse"
                                                                                                   name="visiteur2[adresse]"
                                                                                                   required="required"
                                                                                                   maxlength="50"/>
                        </div>
                        <div><label for="visiteur2_codePostal" class="required">Code postal</label><input type="text"
                                                                                                          id="visiteur2_codePostal"
                                                                                                          name="visiteur2[codePostal]"
                                                                                                          required="required"
                                                                                                          maxlength="5"/>
                        </div>
                        <div><label for="visiteur2_ville" class="required">Ville</label><input type="text"
                                                                                               id="visiteur2_ville"
                                                                                               name="visiteur2[ville]"
                                                                                               required="required"
                                                                                               maxlength="30"/></div>
                        <div><label class="required">Date embauche</label>
                            <div id="visiteur2_dateEmbauche">
                                <div id="visiteur2_dateEmbauche_date"><select id="visiteur2_dateEmbauche_date_month"
                                                                              name="visiteur2[dateEmbauche][date][month]">
                                        <option value="1">Jan</option>
                                        <option value="2">Feb</option>
                                        <option value="3">Mar</option>
                                        <option value="4">Apr</option>
                                        <option value="5">May</option>
                                        <option value="6">Jun</option>
                                        <option value="7">Jul</option>
                                        <option value="8">Aug</option>
                                        <option value="9">Sep</option>
                                        <option value="10">Oct</option>
                                        <option value="11">Nov</option>
                                        <option value="12">Dec</option>
                                    </select><select id="visiteur2_dateEmbauche_date_day"
                                                     name="visiteur2[dateEmbauche][date][day]">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select><select id="visiteur2_dateEmbauche_date_year"
                                                     name="visiteur2[dateEmbauche][date][year]">
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                        <option value="2027">2027</option>
                                    </select></div>

                            </div>
                        </div>
                        <div><label for="visiteur2_codeSecteur" class="required">Secteur</label> <select name="code_secteur" class="select-style">
                                {% for name in nameSecteur %}
                                    <option value="{{ name["idSec"] }}">{{ name["libelle"] }}</option>
                                {%  endfor %}
                            </select></div>
                        <div><label for="visiteur2_laboCode" class="required">Laboratoire</label><select name="code_labo" class="select-style">
                                {% for name in nameLabo %}
                                    <option value="{{ name["idLab"] }}">{{ name["nom"] }}</option>
                                {%  endfor %}
                            </select>
                        </div>
                        <input type="hidden" id="visiteur2__token" name="visiteur2[_token]"
                               value="0.wE1w3sP5WA2TRXYJFsAKjcRhoAevrT_hFO2BQzRls8g.lA5JvKq-MXf3Izx6ZqlI-ZE3yUP8wHiid7jQe2AdwaGGOUiMj4AHO6cNEQ"/>
                    </div>
            </div>
            <div>
                <button class="btn">INSERER</button>
            </div>
            </form>
        </div>
    </div>
{% endblock %}
