{% extends 'base.html.twig' %}

{% block title %}New Visiteur{% endblock %}

{% block body %}
    <div class="alignDiv">
        <div class="modalAjout" height = "100">
            <h1>Entrer les informations de visiteur</h1><br>
            {{ include('visiteur/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
