{% extends 'base.html.twig' %}

{% block title %}New Secteur{% endblock %}

{% block body %}
    <div class="alignDiv">
        <div class="modalAjout">
            <div style="margin-top: 20px" >
                <h1>Quelle secteur</h1><br>
                <h1>souhaitez-vous ajouter?</h1>
            </div>
            <div style="margin-top:60px">
                {{ include('secteur/_form.html.twig') }}
            </div>
        </div>
    </div>
     <a href="{{ path('secteur_index') }}">Retour à la liste</a>
{% endblock %}
