<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <div class="nav-title">
            GSB Symfony
        </div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <div class="nav-links">
        <a href="#" target="_blank">home</a>
        <a href="#" target="_blank">liste</a>
        <a href="#" target="_blank">ajout</a>
        <a href="#" target="_blank">statistiques</a>
        <a href="#" target="_blank">Exit</a>
    </div>
</div>
