{% extends 'base.html.twig' %}

{% block title %}Edit Region{% endblock %}

{% block body %}
<div class="alignDiv">
    <div class="modalAjout">
    <h1>Edit Region</h1>
    <br><br>
    {{ include('region/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('region/_delete_form.html.twig') }}
        <a href="{{ path('region_index') }}">back to list</a>
    </div>
</div>
{% endblock %}
