{% extends 'base.html.twig' %}

{% block title %}Edit Region{% endblock %}

{% block body %}

    <div class="alignDiv">
        <div class="modalAjout">
            <h1>Edit Region</h1>
            <br><br>
            <form name="region" method="post">
                <div id="region"> <div><label for="region_CodeSecteur">Code secteur</label>
                        <select name="code_secteur" class="select-style">
                            {% for name in nameSecteur %}
                                <option value="{{ name["id"] }}">{{ name["libelle"] }}</option>
                            {%  endfor %}
                        </select>
                    </div><div><label for="region_nom_region" class="required">Nom region</label><input type="text" id="region_nom_region" name="region[nom_region]" required="required" maxlength="50" value="" /></div><input type="hidden" id="region__token" name="region[_token]" value="ced4cf542b5.SvCQR0OCfzbo-IzJIqWE3wIKAR4iJzVRIcUe865GpMk.D76mFgzzLXG7vM-sb_HxlWxVW3RxdWM4FY9JvMMi75t7p-AWDNEteI_M3Q" /></div>
                <div style="margin-top: 60px">
                    <button class="btn">Update</button>
                </div>
            </form>

            <a href="/region/">back to list</a>
        </div>
    </div>
{% endblock %}
